---
import Layout from '../layouts/layout.astro';
import TerminalText from '../components/terminal-text.astro';
import splashTexts from '../assets/splash-texts.json';

const randomSplash = splashTexts.splashTexts[Math.floor(Math.random() * splashTexts.splashTexts.length)];
---

<Layout>
    <section class="landing">
        <img src="src/assets/red-panda.jpg" alt="Landing Image" class="circular-image" />
        <div class="content">
            <span class="title">dh@rrop</span>
            <div class=splash>
                <TerminalText text={randomSplash} typingSpeed={200} showCursor={true} />
            </div>

        </div>
    </section>
</Layout>

<style>
    .landing {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90vh;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: left;
        gap: 20px; /* Space between the image and text */
    }

    .circular-image {
        width: 256px;
        height: 256px;
        border-radius: 50%; /* Makes the image circular */
        object-fit: cover; /* Ensures the image fits within the circle */
        border: 8px solid white;
        margin: 64px;
    }

    .title {
        font-size: 4rem;
        font-weight: bold;
    }

    .splash {
        font-size: 2rem; /* Large text */
        width: 0;
    }
</style>