---
// index.astro

import Layout from "../layouts/layout.astro";
import TerminalText from "../components/terminal-text.astro";
---

<Layout>
  <div class="landing">
    <img src="red-panda.jpg" alt="Landing Image" class="circular-image" />
    <div class="content">
      <span class="title">dh@rrop</span>
      <div class="splash">
        <TerminalText />
      </div>
    </div>
  </div>
</Layout>

<style>
  .landing {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    width: 100%;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 20px;
  }

  .circular-image {
    width: 256px;
    height: 256px;
    border-radius: 50%;
    object-fit: cover;
    border: 8px solid var(--bold-color);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15); /* Subtle drop shadow */
    margin: 64px;
    transition:
      border-color 0.3s ease,
      box-shadow 0.3s ease;
  }

  .title {
    font-size: 4rem;
    font-weight: bold;
    color: var(--bold-color);
  }

  .splash {
    font-size: 2rem;
    width: 0;
  }
</style>
