---
import Nav from '../components/nav.astro';
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>dharrop</title>
    </head>
    <body>
        <Nav />
        <main>
            <slot />
        </main>
    </body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
        font-family: 'Roboto Mono', monospace;
        background-color: #222; /* Dark background */
        color: white; /* White text */
        overflow: hidden; /* Prevent scrolling if there's accidental overflow */
    }

    /* main {
        padding: 20px;
    } */
</style>